.gamers {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 1rem;
}

.life-bar-gamer {
    /* width: 100%; */
    height: 100%;
    background-color: green ;
}

.life-bar-monster {
    height: 100%;
    background-color: green ;
}

.life-border {
    width: 15rem;
    height: 1rem;
    border: 1px solid green;
    margin-bottom: .5rem;
}