.rounds-content {
    width: 78%;   
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}